@import "~materialize-css";

$primary: color('light-blue', 'darken-1');

.primary {
  background-color: $primary
}

::selection {
  background: #fff;
  color: $primary;
}

@import "../components/Shared/Hero/Hero";
@import "../components/Home/ToolsAndTech/ToolAndTech";

